@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Fontes */
    --fontePrincipal: 'Inter', sans-serif;

    /* Cores */
    --btnIdadeColor: rgb(206, 223, 249);
    --btnTemperaturaColor: rgb(255, 179, 179);
}

body {
    font-family: var(--fontePrincipal);
    background-color: #F0F3FF;
}

h1 {
    text-align: center;
    margin: 30px 0px 30px 0px;
}

section#principal, header {
    background-color: white;
    margin: auto;
}

header {
    margin-top: 100px;
    background-color: whitesmoke;
    border-radius: 20px 20px 0px 0px;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.354);
}

section#botoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.btn_telaPrincipal:hover {
    cursor: pointer;
    border: 2px solid black;
}

section#principal {
    background-color: whitesmoke;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.354);
}

button#idade:hover {
    background-color: var(--btnIdadeColor);
}

button#temperatura:hover {
    background-color: var(--btnTemperaturaColor);
}

p#txtPadrao {
    text-align: center;
    color: rgba(0, 0, 0, 0.358);
}

p#txtTemperatura, p#txtIdade{
    text-align: center;
    display: none;
}

/* Celulares pequenos */
@media (max-width: 480px) {
    section#infos {
        width: 80%;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }
    .btn_telaPrincipal {
        width: 200px;
        height: 30px;
        margin: auto;
        margin: 5px 10px 20px 0px;
    }
    section#principal, header{
        padding: 10px;
        width: 100vw;
        margin: 0;
        padding: 0;
    }

    section#principal, header{
        padding: 5px;
    }
}

/* Celulares médios e tablets pequenos */
@media (min-width: 481px) and (max-width: 768px) {
    h1 {
        font-size: 400px;
    }
    .btn_telaPrincipal {
        width: 300px;
        height: 40px;
        margin: 5px 10px 20px 0px;
    }
    section#principal, header {
        padding: 5px;
    }
    /* Adicione outros estilos específicos para esta faixa */
}

/* Tablets e tela pequenas */
@media (max-width: 1024px) {

    section#principal, header{
        padding: 10px;
        max-width: 700px;
    }

    h1 {
        font-size: 45px;
    }
    .btn_telaPrincipal {
        width: 300px;
        height: 40px;
        margin: 5px 10px 20px 0px;
    }
    section#infos {
        width: 40%;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }
    
}

/* Telas grandes (desktop) */
@media (min-width: 1025px) {
    section#principal, header{
        padding: 10px;
        max-width: 1000px;
    }

    section#infos {
        width: 40%;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }

    h1 {
        font-size: 50px;
    }

    .btn_telaPrincipal {
        width: 400px;
        height: 70px;
        margin: auto;
        margin: 5px 10px 20px 5px;
        font-size: 18px;
    }

    #container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    section#botoes {
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    section#infos {
        width: 30%;
    }
}
