/**{
    margin: 0px;
    background: linear-gradient(to right, gray, white, gray);
}

#resultado{
    margin-top: 10px;
    margin-bottom: 10px;   
}

#calculo{
    background: white;
    height: 200px;
    width: 400px;
    font-size: 30px;
    border-radius: 0px 0px 200px 0px;
    border: 10px solid;
}

#calculo2{
    background: white;
    height: 200px;
    width: 300px;
    font-size: 30px;
    border-radius: 0px 0px 200px 0px;
    border: 10px solid;
}

select{
    color: aliceblue;
    font-size: 20px;
    background: black;
    width: 300px;
    height: 50px;
    border: 0px;
}

button{
    background: white;
    color: black;
    font-size: 40px;
    border: 100px;
    margin-top: 40px;
    margin-left: 40px;
    width: 170px;
    height: 50px;
}

#caixa{
    background: black;
    color: aliceblue;
    width: 175px;
    height: 30px;
    font-size: 20px;
} */