body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 0, 207),rgb(0, 0, 164),rgb(0, 0, 53) );
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

section#botoes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.btn_telaPrincipal {
    background-color: white;
}

section#infos {
    background-color: white;
}

.btn_telaPrincipal:hover {
    background-color: rgb(215, 215, 215);
    cursor: pointer;
}

p#txtTemperatura, p#txtIdade{
    text-align: center;
    display: none;
}

/* Celulares pequenos */
@media (max-width: 480px) {
    section#infos {
        width: 80%;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }
    .btn_telaPrincipal {
        width: 200px;
        height: 30px;
        margin: auto;
        margin: 5px 10px 20px 0px;
    }
}

/* Celulares médios e tablets pequenos */
@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
}


/* Tablets e tela pequenas */
@media (max-width: 1024px) {
    h1 {
        font-size: 45px;
    }
    
}

/* Telas grandes (desktop) */
@media (min-width: 1025px) {
    section#infos {
        width: 40%;
        margin: auto;
        padding: 20px;
        border-radius: 10px;
    }

    h1 {
        font-size: 50px;
    }

    .btn_telaPrincipal {
        width: 400px;
        height: 40px;
        margin: auto;
        margin: 5px 10px 20px 0px;
    }
}